.idea/
venv/
python/venv/
test_functions/viviana_test/volume.imf
python/functions/__pycache__/cutoff_functions.cpython-37.pyc
python/functions/__pycache__/
python/functions/helpers/__pycache__/calculate_weights.cpython-37.pyc
python/functions/helpers/__pycache__/__init__.cpython-37.pyc
python/functions/helpers/__pycache__/
python/functions/helpers/imfusion/__pycache__/
python/__pycache__/main.cpython-37.pyc
python/imfusion_plugins/__pycache__/
python/imfusion_files/results/
python/imfusion_files/data_modified.imf
python/imfusion_files/us_modified.imf
python/imfusion_files/3dModels/BigA_60_60_60.imf
python/tests/out_data/us_modified.imf
python/imfusion_files/voxelized_volume.imf
python/evaluation/__pycache__/
python/imfusion_files/tmp.txt
